# Standard Jekyll- und Bundler-Dateien
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.obsidian
.bundle/
vendor/
ressources/licensetool/*.db

# Umgebungsdateien
*.env

# Dokumentation
documentation/Quellverzeichnis/index1.md

# Lizenzdatenbankdateien in Unterordnern
ressources/licensetool/*.db
