# Standard Jekyll- und Bundler-Dateien
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.obsidian
.bundle/
vendor/

# Environment files
*.env

# Documentation
documentation/Quellverzeichnis/index1.md

# Ignore db files
ressources/licensetool/*.db

# Ignore all __pycache__ folders
ressources/licensetool/__pycache__
ressources/licensetool/app/__pycache__
ressources/licensetool/app/licenses/__pycache__
ressources/licensetool/app/main/__pycache__
ressources/licensetool/app/models/__pycache__
ressources/licensetool/app/modules/__pycache__
ressources/licensetool/app/auth/__pycache__
ressources/licensetool/app/monitoring/__pycache__

#Ignore all certificate files
ressources/licensetool/certs/**/*.crt
ressources/licensetool/certs/**/*.cer
ressources/licensetool/certs/**/*.pem
ressources/licensetool/certs/**/*.pfx
ressources/licensetool/certs/**/*.key

#Ignore all info, output and config files
ressources/licensetool/certs/infos/cert-**-info.json
ressources/licensetool/config-profiles/config-**-profile.json
ressources/licensetool/app/test-output/*.jsonc
ressources/licensetool/config-profiles/auth
ressources/licensetool/config-profiles/sharepoint

